<h1>Sales Data Import</h1>

<p>A <strong>CSV</strong> or <strong>tab delimited</strong> file can be used to import records. The first row should be the column name. The following columns are allowed.</p>
<hr />
<table>
<tr>
<th>import header</th>
<th>table column name</th>
<th>type</th>
</tr>
  <% Sale.columns.each do |column| %>
    <% if !["created_at", "updated_at", "id"].include? column.name %>
      <tr>
        <td><%= column.name.humanize.downcase %></td>
        <td><%= column.name %></td>
        <td><%= column.type.to_s.titleize %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
<hr />

<%= form_for @sale_import do |f| %>
  <% if @sale_import.errors.present? %>
    <div id="error_explanation">
      <h2>An error prohibited this import from completing:</h2>
      <ul>
      <% @sale_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit " Import " %></div>
<% end %>
